.contents{
  text-align: center;
  height: 800px;
  background-color:#f8f8ff;
  padding: 50px 50px;
  font-weight: bold;
  color: #191970;
  
  .input_time{
    background-color: #ffffff;
    padding: 30px 30px;
    border-radius: 10px;
  }

  .submit_btn{
    padding: 15px 40px;
    font-size: 1.2em;
    background-color:#191970;
    color: #fff;
    border-style: none;
  }
  .output_time{
    padding: 20px 20px;
    font-size: 25px;

    .balloon {
      position: relative;
      display: inline-block;
      margin: 1.5em 0;
      padding: 20px 10px;
      min-width: 120px;
      max-width: 100%;
      color: #191970;
      font-size: 16px;
      background: #fff9b1;
      border-radius: 10px;
    }
    .balloon:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -15px;
      border: 15px solid transparent;
      border-left: 15px solid #fff9b1;
    }
    
    .study_time{
      color: #b22222;
      font-size: 30px;
      font-weight: bold;
    }

    .pomuo{
      padding: 20px 10px;
    }
  }
}

