.contents{
  text-align: center;
  height: 800px;
  background-image: image-url("pompom.png");
  padding: 50px 50px;
  font-weight: bold;
  color: #191970;
  .input_time{
    background-color: #ffffff;
    padding: 50px 50px;
  }
  .output_time{
    background-color: #ffffff;
    padding: 30px 30px;
    font-size: 25px;
    .study_time{
      color: #b22222;
      font-size: 50px;
      font-weight: bold;
    }
  }
}

