<div class="contents">
  <%= form_tag('/study', method: :post) do %>
    <h3>
      今日の学習時間を入力してね！
    </h3>
    <input placeholder="Date" type="date" name="date">
    <input placeholder="StudyTime" type="float" name="time">
    <input type="submit" value="SENT">
  <% end %>
  <div class="output_time">
    <p>これまでトータルで<%= @study%> hの勉強したよ！</p>
  </div>
</div>